@using System.Threading
@model IEnumerable<Phonebook.Models.PersonModel>

@{
    ViewData["Title"] = "Książka telefoniczna";
}

<h1>Książka telefoniczna</h1>
<hr />

<form asp-action="Index" method="post">

    <div class="form-inline">
        <label for="lastName" class="control-label, mr-1">Szukaj nazwiska</label>
        <input name="lastName" type="text" class="form-control, mr-1" />
        <button type="submit" value="lastName" class="btn btn-primary btn-sm">Szukaj</button>
    </div>
</form>

<div class="mt-1 mb-1">
    <a asp-action="Add">Dodaj wpis</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Stan wpisu na:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated, "ShortDate")
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Remove", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.Partial("_PaginationBar")
</div>
<h4>@TempData["Status"]</h4>
